/* Site content */

// General
.site-content {
  padding-bottom: 50px;
  transition: all 0.2s ease-in-out 0s;
}

.btn-1 {
  min-width: 223px;
  padding: 10px;
  color: $c_white;
  background-color: $c_additional;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  @extend .h5;
}

.btn-1:focus,
.btn-1:hover,
.btn-1:active {
  color: #fff;
  background-color: $c_accent;
}

.lightslider-item,
.custom-item {
  width: 500px;
  height: 500px;
  background-image: url(../img/test-image.jpg);
}

.push {
  -webkit-transform:translate3d(65vw, 0, 0);
  -moz-transform:translate3d(65vw, 0, 0);
  -o-transform:translate3d(65vw, 0, 0);
  transform:translate3d(65vw, 0, 0);
  transition: all 0.2s ease-in-out 0s;
}

// Intro screen
.intro-screen {
  background-image: url(../img/home-bg.jpg);
  min-width: 100vw;
  min-height: 100vh;
}