/* Site content */

// General
.site-content {
  padding-bottom: 50px;
  transition: all 0.2s ease-in-out 0s;
}

.full-h { height: 100%; }

.inner-default {
  padding-top: 65px;
  padding-bottom: 35px;
}

.p-default { margin: 30px 0; }

.btn-1 {
  min-width: 223px;
  padding: 10px;
  color: $c_white;
  background-color: $c_additional;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  @extend .h5;
}

.btn-1:focus,
.btn-1:hover,
.btn-1:active {
  color: #fff;
  background-color: $c_accent;
}

.lightslider-item,
.custom-item { height: 545px; }

.push {
  -webkit-transform:translate3d(65vw, 0, 0);
  -moz-transform:translate3d(65vw, 0, 0);
  -o-transform:translate3d(65vw, 0, 0);
  transform:translate3d(65vw, 0, 0);
  transition: all 0.2s ease-in-out 0s;
}

// Intro screen
.intro-screen {
  background-image: url(../img/home-bg.jpg);
  min-width: 100vw;
  min-height: 100vh;
  .logo { margin-top: 80px; }
}

// Products section
.products-section {
  .lightslider { margin-bottom: 33px; }
  .lightslider-item {
    &:nth-of-type(1) {
      .lightslider-img { background-image: url(../img/product-1.jpg); }
      .lightslider-img:hover { background-image: url(../img/product-3-hover.jpg); }
    }
    &:nth-of-type(2) {
      .lightslider-img { background-image: url(../img/product-2.jpg); }
      .lightslider-img:hover { background-image: url(../img/product-3-hover.jpg); }
    }
    &:nth-of-type(3) {
      border: none;
      .lightslider-img { background-image: url(../img/product-3.jpg); }
      .lightslider-img:hover { background-image: url(../img/product-3-hover.jpg); }
    }
    padding: 0 30px;
    border-right: 1px solid $c_additional_2;
    a {
      width: 100%;
      p {
        margin-top: 30px;
        width: 70%;
      }
    }
    .lightslider-img {
      transition: all 0.2s ease-in-out 0s;
      height: 450px;
      position: relative;
      &:hover {
        .hover-text { display: block; }
      }
      .hover-text {
        display: none;
        width: 60%;
        height: 60px;
        span { width: 100%; }
      }
    }
  }
  /*
  .lSAction {
    position: absolute;
    top: 50%;
    width: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    .lSNext,
    .lSPrev > a {
        width: 40px;
        height: 40px;
        background-color: $c_black;
    }
  }
  */
}

// About section
.about-section {
  .inner {
    padding-top: 15px;
    padding-bottom: 65px;
  }
  .row:nth-of-type(even) {
      .article-text { order: 1; }
      .article-img {
        order: 2;
        padding: 0 30px 0 0;
      }
      .hr { order: 2; }
  }
  .article { margin: 50px 0; }
  .article-img { padding: 0 0 0 30px; }
    .hr {
      background-color: $c_additional_2;
      height: 1px;
      width: 106px;
    }
  .sertificates-header {
    height: 360px;
    background-image: url(../img/grass.jpg);
    margin: 50px 30px 30px;
  }
  .serticiate-img-wrap {
    height: 120px;
    width: 100%;
  }
  figcaption {
    margin: 10px 0 30px;
    width: 100%;
  }
}

// Where to find us section
.where-to-find-us-section {
  .inner { padding-top: 100px; }
  .address-pic {
    height: 728px;
    background-image: url(../img/kur-mus-atrast-img.jpg);
    margin-left: 30px;
  }
  .ul {
    margin-right: 30px;
    column-count: 2;
    li { margin-bottom: 25px; }
    address {
      font-style: normal;
      font-weight: normal;
    }
  }
}