/* Site content */

// General
.site-content {
  padding-bottom: 50px;
  transition: all 0.2s ease-in-out 0s;
}

.full-h { height: 100%; }

.inner-default {
  padding-top: 65px;
  padding-bottom: 35px;
}

.p-default {
  margin: 30px 0;
  letter-spacing: .06em;
}

.hr { background-color: $c_additional_2; }

.btn-1 {
  min-width: 223px;
  padding: 10px;
  color: $c_white;
  background-color: $c_additional;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  @extend .h5;
}

.btn-1:focus,
.btn-1:hover,
.btn-1:active {
  color: #fff;
  background-color: $c_accent;
}

.lightslider-item,
.custom-item { height: 545px; }

.push {
  -webkit-transform:translate3d(65vw, 0, 0);
  -moz-transform:translate3d(65vw, 0, 0);
  -o-transform:translate3d(65vw, 0, 0);
  transform:translate3d(65vw, 0, 0);
  transition: all 0.2s ease-in-out 0s;
}

// Intro screen
.intro-screen {
  background-image: url(../img/home-bg.jpg);
  min-width: 100vw;
  min-height: 100vh;
  .logo { margin-top: 80px; }
}

// Products section
.products-section {
  .lightslider { margin-bottom: 33px; }
  .lightslider-item {
    &:nth-of-type(1) {
      .lightslider-img:hover { background-image: url(../img/product-3-hover.jpg); }
    }
    &:nth-of-type(2) {
      .lightslider-img:hover { background-image: url(../img/product-3-hover.jpg); }
    }
    &:nth-of-type(3) {
      border: none;
      .lightslider-img:hover { background-image: url(../img/product-3-hover.jpg); }
    }
    padding: 0 30px;
    border-right: 1px solid $c_additional_2;
    a {
      width: 100%;
      p {
        margin-top: 30px;
        width: 70%;
      }
    }
    .lightslider-img {
      transition: all 0.2s ease-in-out 0s;
      position: relative;
      &:hover {
        .hover-text { display: block; }
      }
      .hover-text {
        display: none;
        width: 60%;
        height: 60px;
        span { width: 100%; }
      }
    }
  }
  /*
  .lSAction {
    position: absolute;
    top: 50%;
    width: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    .lSNext,
    .lSPrev > a {
        width: 40px;
        height: 40px;
        background-color: $c_black;
    }
  }
  */
}
@media(min-width: $breakpoint_lg + 1) {
  .lightslider-img { height: 450px; }
}
@media(max-width: $breakpoint_lg) {
  .lightslider {
    overflow-x: scroll;
    .lightslider-item {
      a {
        p { width: 90%; }
      }
    }
  }
}
@media(max-width: $breakpoint_lg) {
  .products-section {
    .inner { padding: 30px 0 35px 0; }
  }
}

@media(max-width: $breakpoint_md) {
  .products-section {
    .inner {
      padding-right: 0;
      padding-left: 0; 
    }
  }
  .lightslider-wrap { padding: 0; }
  .lightslider-item { padding: 0 20px; }
}

// About section
.about-section {
  .inner {
    padding-top: 15px;
    padding-bottom: 65px;
  }
  .article { margin: 50px 0; }
  .serticiate-img-wrap {
    height: 120px;
    width: 100%;
  }
  figcaption {
    margin: 10px 0 30px;
    width: 100%;
  }
}
@media(min-width: $breakpoint_lg + 1) {
  .hr {
    height: 1px;
    width: 106px;
  }
  .article-img { padding: 0 0 0 30px; }
  .about-section,
  .where-to-find-us-section {
    .row:nth-of-type(even) {
        .article-text { order: 1; }
        .article-img {
          order: 2;
          padding: 0 30px 0 0;
        }
        .hr { order: 2; }
    }
    .sertificates-header {
      height: 360px;
      margin: 50px 30px 30px;
    }
  }
  .flex-x-r-min-lg {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
@media(max-width: $breakpoint_lg) {
  .hr {
    width: 1px;
    height: 38px;
    margin: 0;
    margin-bottom: 28px;
    margin-left: 20px;
  }
  .about-section {
    .sertificates-header {
      height: 205px;
      margin-bottom: 65px;
    }
  }
  .flex-t-column-max-lg {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap; 
  }
}
@media(min-width: $breakpoint_md + 1) and (max-width: $breakpoint_lg) {
  .article-img,
  .article-text-wrap {
    margin-right: auto;
    margin-left: auto;
    // padding: 0 15px;
  }
}
@media(max-width: $breakpoint_md) {
  .about-section {
    .article {
      margin: 20px 0;
      padding: 0;
    }
    .article-img,
    .article-text,
    .article-text-wrap { padding: 0; }
    .flex-x-c-max-md {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .sertificates-wrap { padding: 0; }
    .sertificates-header {
      height: 95px;
      margin-bottom: 40px;
    }
  }
}

// Where to find us section
.where-to-find-us-section {
  .inner {
    padding-top: 100px;
    padding-bottom: 250px;
  }
  .row:nth-of-type(1) {
    .article-img {
      background-image: url(../img/kur-mus-atrast-img.jpg);
      max-width: 606px;
    }
    .ul {
      li { margin-bottom: 22px; }
      address {
        font-style: normal;
        font-weight: normal;
      }
    }
  }
  .row:nth-of-type(2) {
    .article { margin-top: 100px; }
    .article-img { background-image: url(../img/countryside-view.jpg); }
    h2 { margin: 24px 0 10px; }
    .ul {
      margin-top: 0;
      li {
        margin-bottom: 22px;
        .icon-li-before:before {
          content: "\e904";
          color: #ddcac0;
          margin-right: 15px;
        }
      }
    }
  }
  .article-img { height: 728px; }
  .datepicker {
    background-color: $c_white;
    left: -100px;
    bottom: -80px;
    p { height: 65px; }
    .ui-datepicker {
      width: 393px;
      border: none;
      border-top: 1px solid $c_additional_2;
      margin: 0 auto;
      td > a { text-align: center; }
      .ui-datepicker-title { text-align: left; }
      .ui-datepicker-header {
        background-color: $c_white;
        border: none;
        margin-bottom: 15px;
        margin-top: 15px;
      }
      .ui-datepicker-prev {
        right: 70px;
        left: auto;
        span {
          background-image: url(../img/arrow.svg);
          background-position: center;
          background-size: cover;
        }
      }
      .ui-datepicker-next {
        right: 30px;
        span {
          background-image: url(../img/arrow.svg);
          background-position: center;
          background-size: cover;
          transform: rotate(180deg);
        }
      }
      table { font-size: 16px; }
      .ui-state-default { 
        border: none;
        background-color: transparent;
      }
    }
  }
}
@media(min-width: $breakpoint_lg + 1) {
  .block-y-b-min-lg {
    position: absolute;
    display: block;
    top: auto;
    bottom: 0;
  }
  .where-to-find-us-section {
    .row:nth-of-type(1) {
      .article-img { margin-left: 30px; }
    }
  }
}
@media(max-width: $breakpoint_lg) {
  .where-to-find-us-section {
    .row:nth-of-type(2) {
      .article-img { max-width: 606px; }
    }
  }
}
@media(min-width: $breakpoint_md + 1) {
  .where-to-find-us-section {
    .row:nth-of-type(1) {
      .ul { column-count: 2; }
    }
  }
}

.highlight {
  background-color: #000000 !important;
  background-image:none !important;
  color: #ffffff !important;
}

// Contact section
.contact-section {
  .inner {
    padding-top: 95px;
    padding-bottom: 100px;
  }
  .google-map { height: 412px; }
  h1 { margin-bottom: 30px; }
  h2 { margin-top: 22px; }
}

@media(min-width: $breakpoint_lg + 1) {
  .contact-section {
    .article-text { padding-left: 30px; }
  }
}